assets/stylesheets/*.css
.gradletasknamecache
.sass-cache/*
.idea
build
local.properties
.gradle/*
FlyDelta/gradle/*
FlyDelta/gradlew*
.bundle/**
bin/
.DS_Store
*#
.#*
*.iml
*.ipr
*.iws
*.log
*.patch
assets/stylesheets/*.css
/tmp/
/out/*
/test_servers/**
/gen/*
/out/*/**
FlyDelta/src/main/assets/hybrid/
/target/*
/target/*/**
/specs/assets/assets/*/**
/specs/assets/views/*
/specs/target/*
/specs/target/*/**
/specs/proguard.cfg
/app/stylesheets/*.css
FlyDelta/src/main/res/values/build_properties.xml


rerun_serial.txt
rerun_parallel.txt

/screenshot_*.png

/artifacts/*
/android/artifacts/*
/results/*

.irb-history

/config/result/*
/config/result/
android/config/result/
.rbenv-version

reports/*.xml
reports/html
reports/raw/*.xml

rerun_*.txt

*.swp
*.swo

/promoted
**/.gradle
android/**/build
android/build/**
android/local.properties
android/.idea

.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.bundle
.gems

android/FlyDelta/src/main/res/values/com_crashlytics_export_strings.xml

*.idea
*/gen
*/out
*/artifacts
android/FlyDelta/src/main/gen
*.rtf
*.un~

*.apk
